.gameboard-box {
  height: 60px;
  width: 60px;
  background-color: #999;
  border: 1px black solid;
  display: flex;
}
.gameboard-box-hit {
  height: 100%;
  width: 100%;
  background-image: url('/images/hit.png');
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.gameboard-box-hit-ship {
  height: 100%;
  width: 100%;
  background-image: url('/images/hit-ship.png');
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.ship-toolbox {
  background-size: contain;
}
.ship-toolbox-disabled {
  filter: grayscale(80%);
}
.ship {
  overflow: visible;
  background-size: contain;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.ship1-horizontal {
  background-color: red;
  height: 60px;
  width: 300px;
}
.ship1-vertical {
  background-color: red;
  height: 300px;
  width: 60px;
}
.ship2-horizontal {
  background-color: blue;
  height: 60px;
  width: 240px;
}
.ship2-vertical {
  background-color: blue;
  height: 240px;
  width: 60px;
}
.ship3-horizontal {
  background-color: green;
  height: 60px;
  width: 180px;
}
.ship3-vertical {
  background-color: green;
  height: 180px;
  width: 60px;
}

.space-table {
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
  color: white;
  background: rgba(0, 255, 242, 0.1);
  border: 2px solid rgba(0, 255, 234, 0.5);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
}

.space-table-header {
  text-transform: uppercase;
  background: rgb(2, 85, 88);
}
.space-table-row {
  transition: all 0.1s;
}
.space-table-row:hover {
  background: rgba(0, 255, 255, 0.041);
}