.gameboard-box {
  height: 60px;
  width: 60px;
  background-color: #999;
  border: 1px black solid;
  display: flex;
}
.gameboard-box-hit {
  height: 100%;
  width: 100%;
  background-image: url('/images/hit.png');
  background-size: cover;
  background-position: center;
  z-index: 5;
  animation: fallAndSquashNoHit 1.5s ease-in-out ;
}
.gameboard-box-hit-ship {
  height: 100%;
  width: 100%;
  background-image: url('/images/hit-ship.png');
  background-size: cover;
  background-position: center;
  z-index: 5;
  animation: fallAndSquashHit 1.5s ease-in-out;
}
.gameboard-box-hit-ship-drawned {
  height: 100%;
  width: 100%;
  background-image: url('/images/hit-ship.png');
  background-size: cover;
  background-position: center;
  filter: hue-rotate(-25deg);
  z-index: 5;
  animation: fallAndSquashHit 1.5s ease-in-out;
}
@keyframes fallAndSquashHit {
  0% {
      transform: translateY(-100px) translateX(150px) scale(0.1);
      opacity: 0%;
  }
  20% {
    transform: translateY(0px) translateX(0px) scale(0.7);
    opacity: 100%;
  }
  22% {
    transform: scale(1.3);
  }
  23% { 
    transform: translate(-3px, 0px) rotate(1deg) scale(1.29);
  }
  24% { transform: translate(3px, 2px) rotate(0deg) scale(1.27); }
  25% { transform: translate(1px, -1px) rotate(1deg) scale(1.25); }
  26% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.21); }
  28% { transform: translate(-3px, 1px) rotate(0deg) scale(1.16); }
  30% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.12); }
  33% { transform: translate(-3px, 0px) rotate(1deg) scale(1.1); }
  36% { transform: translate(3px, 2px) rotate(0deg) scale(1.08); }
  39% { transform: translate(1px, -1px) rotate(1deg) scale(1.06); }
  42% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.04); }
  45% { transform: translate(-3px, 1px) rotate(0deg) scale(1.02); }
  48% { transform: translate(3px, 1px) rotate(-1deg) scale(1); }
  51% { transform: translate(-1px, -1px) rotate(1deg); }
  54% { transform: translate(1px, 2px) rotate(0deg); }
  57% { transform: translate(-1px, -2px) rotate(-1deg); }
  60% { transform: translate(-3px, 0px) rotate(1deg); }
  64% { transform: translate(3px, 2px) rotate(0deg); }
  68% { transform: translate(1px, -1px) rotate(1deg); }
  72% { transform: translate(-1px, 2px) rotate(-1deg); }
  76% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(3px, 1px) rotate(-1deg); }
  85% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  95% { transform: translate(-1px, -2px) rotate(-1deg); }
  100% {
    transform: scale(1) translate(0px, 0px) rotate(0deg);
  }
}
@keyframes fallAndSquashNoHit {
  0% {
      transform: translateY(-100px) translateX(150px) scale(0.1);
      opacity: 0%;
  }
  20% {
    transform: translateY(0px) translateX(0px) scale(0.8);
    opacity: 100%;
  }
  22% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1) translate(0px, 0px) rotate(0deg);
  }
}


.space-table {
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
  color: white;
  background: rgba(0, 255, 242, 0.1);
  border: 2px solid rgba(0, 255, 234, 0.5);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
}

.space-table-header {
  text-transform: uppercase;
  background: rgb(2, 85, 88);
}
.space-table-row {
  transition: all 0.1s;
}
.space-table-row:hover {
  background: rgba(0, 255, 255, 0.041);
}
