# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# Build output directories
bin/
obj/
# NuGet Packages
*.nupkg
packages/
*.snupkg
# Logs
*.log
# Temporary files
*.tmp
# Customs
appsettings.Production.json
appsettings.Development.json